/* .socialBar {
    position: absolute;
    margin-top: 20px;
    display: flex;
    bottom: 60px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
}

.socialBar i {
    padding-right: 30px;
    padding-right: 0px;
    font-size: 25px;
    color: #9a9b9c;
}

.socialBar i:hover {
    color: #ffffff;
} */