/* .reactEffect {
    font-size: var(--typing-font);
    margin-bottom: 30px;
}
.profilepic {
    border-radius: 50%;
    width: 200px;
    margin: 30px;
}
.containerDiv {
    padding: 50px;
    --containerDiv-flex: 6;
    padding: 100px;
    background-color: #f4f5f9;
    flex: var(--containerDiv-flex);
} */